<!DOCTYPE html>




  <div class="container">
    <h1>Favorite Actors</h1>
    <form class="search-form">
      <input type="text" class="form-control" placeholder="Search Actor" ng-model="queryText" ng-change="searchChange()">
      <div class="search-results list-group" ng-show="searchResults.length > 0">
        <a href="#" class="list-group-item list-group-item-action" ng-repeat="result in searchResults" ng-click="addActor(result)">{{result.name}}</a>
      </div>
    </form>

    <div class="row">
      <div class="col-md-3 my-3" ng-repeat="actor in favActors">
        <my-actor></my-actor>
      </div>
    </div>
  </div>
