<!DOCTYPE html>
<navbar></navbar>
<div class="jumbotron">

    <table id="lecture-det-tab" class="table table-condensed">
        <tbody>
            <tr>
                <td>Lecture Date</td>
                <td>{{lecture.lectureDate}}</td>
            </tr>
            <tr>
                <td>Course Number</td>
                <td>{{lecture.course.courseNum}}</td>
            </tr>
            <tr>
                <td>Course Name</td>
                <td>{{lecture.course.courseName}}</td>
            </tr>
            <tr>
                <td>Lecture Number</td>
                <td>{{lecture.lectureNum}}</td>
            </tr>
            <tr>
                <td>Lecture Title</td>
                <td>{{lecture.lectureTitle}}</td>
            </tr>
            <tr>
                <td>Lecture Summary</td>
                <td>{{lecture.about}}</td>
            </tr>
            <tr>
                <td>University Name</td>
                <td>{{lecture.course.univercity.uniName}}</td>
            </tr>
            <tr>
                <td>University Address</td>
                <td>{{lecture.course.univercity.uniAddress}}</td>
            </tr>
            <tr ng-repeat="filmcut in lecture.filmCuts">
                <td ng-if="$index == 0" rowspan="{{lecture.filmCuts.length}}">{{lecture.name}}</td>
                <td>{{filmcut.filmName}}</td>
                <td>{{filmcut.theme}}</td>
                <td>start {{filmcut.startHours}}:{{filmcut.startMinutes}}:{{filmcut.startSeconds}}</td>
                <td>end {{filmcut.endHours}}:{{filmcut.endMinutes}}:{{filmcut.endSeconds}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="col-12 col-md-2">
    </div>
    <div class="col-12 col-md-10">
        <button id="showFormBtn" class="btn btn-outline-secondary" ng-click="showForm = !showForm">Update filmCuts</button>
    </div>
    <hr>
    <div class="ng-cloak" ng-show="showForm">
        <div class="row">
            <div class="col-12 col-md-2">
            </div>
            <div class="col-12 col-md-10">
                <form>
                    <div class="form-row ">
                        <div class="form-group form-control-sm">
                            <label for="movie">Select Movie:</label>
                            <select class="form-control form-control-sm" id="movie" ng-model="movie" ng-options="movie.name for movie in movies">
                                <div ng-hide="movie.logicalDelete">1 {{movie.name}} {{movie.logicalDelete}}</div>
                            </select>

                        </div>
                        <div class=" form-group form-control-sm">
                            <label for="about">Filmcut Theme</label>
                            <textarea class="form-control form-control-sm" rows="4" id="theme" placeholder="Filmcut Theme" ng-model="filmTheme"></textarea>
                        </div>
                        <div class=" form-group form-control-sm">
                            <label for="filmCutStart">Film Cut Start HH MM SS</label>
                            <input type="text" class="form-control form-control-sm" id="filmCutStartHours" placeholder="Filmcut Start Hours " ng-model="filmCutStartHours">
                            <input type="text" class="form-control form-control-sm" id="filmCutStartMinutes" placeholder="Filmcut Start Minutes" ng-model="filmCutStartMinutes">
                            <input type="text" class="form-control form-control-sm" id="filmCutStartSeconds" placeholder="Filmcut Start Seconds" ng-model="filmCutStartSeconds">
                        </div>
                        <div class=" form-group form-control-sm">
                            <label for="filmCutEnd">Film Cut End</label>
                            <input type="text" class="form-control form-control-sm" id="filmCutEndHours" placeholder="Filmcut End Hours" ng-model="filmCutEndHours">
                            <input type="text" class="form-control form-control-sm" id="filmCutEndMinutes" placeholder="Filmcut End Minutes" ng-model="filmCutEndMinutes">
                            <input type="text" class="form-control form-control-sm" id="filmCutEndSeconds" placeholder="Filmcut End Seconds" ng-model="filmCutEndSeconds">

                        </div>
                        <hr>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" ng-click="updateFilmCuts(movie,filmTheme,filmCutStartHours,filmCutStartMinutes, filmCutStartSeconds, filmCutEndHours, filmCutEndMinutes, filmCutEndSeconds)">Update</button>
                    <button type="reset" class="btn btn-outline-secondary" id="FormResetBtn">Reset</button>

                </form>
            </div>
        </div>
    </div>
</div>