<!DOCTYPE html>

<navbar></navbar>
<!-- Display-->
<div class="container" id="CoursesDisplay">

    <div class="jumbotron">

        <h5 class="text-center">Courses</h5>

        <div class="container">
            <div>
                <label for="search">Filter:</label>
                <input type="text" id="search" ng-model="searchText">
            </div>

            <table id="courses-tab" class=" table table-condensed">
                <!-- <tr>
                    <th ng-click="changeSort('uniName')">Name</th>
                    <th ng-click="changeSort('uniAddress')">Address</th>
                </tr> -->
                <tr ng-repeat="course in courses | filter: searchText | orderBy: sortProp : false" ng-click="openCourse (course) ">
                    <td>{{course.courseNum}}</td>
                    <td>{{course.courseName}}</td>
                    <td>{{course.semester}}</td>
                    <td>{{course.courseSyllabus}}</td>
                    <td>{{course.numOfLectures}}</td>
                    <td>{{course.uniName}}</td>
            </table>
        </div>
    </div>
</div>